<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  
  </configSections>
  <connectionStrings>
    <add name="PlayerDbContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PlayerDbs;Integrated Security=True;MultipleActiveResultSets=True;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="IPlayerSvc" value="NumJum2.Services.PlayerSvcWebImpl" />
    <add key="IJumbledNumberSvc" value="NumJum2.Services.JumbledNumberSvcLNGImp" />
    <add key="IGameSvc" value="NumJum2.Services.GameSvcImpl" />
  </appSettings>
</configuration>