<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name="PlayerDbContext" connectionString="Data Source=|DataDirectory|Player.sdf" providerName="System.Data.SqlServerCe.4.0"/>
  </connectionStrings>
  <appSettings>
    <add key="IPlayerSvc" value="NumJum2.Services.PlayerSvcWebImpl" />
    <add key="IJumbledNumberSvc" value="NumJum2.Services.JumbledNumberSvcLNGImp" />
    <add key="IGameSvc" value="NumJum2.Services.GameSvcImpl" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>